<h2 class="mt-4">Order Details</h2>
<hr>
<div class="row  p-2">
    <div class="left  mx-1 w-100">
        <div class="row my-1 w-100">
            <p class="fs-5 w-100">Order id:</p>
            <p class="fs-5 w-100 bg-secondary rounded text-center">
                <%= @order.id %>
            </p>
        </div>
        <div class="row my-1 w-100">
            <p class="fs-5 w-100">Ordered date:</p>
            <p class="fs-5 w-100 bg-secondary rounded text-center">
                <%= @order.updated_at.to_s.slice(0, 10) %>
            </p>
        </div>
    </div>
    <div class="right w-100">
        <div class="row my-1 w-100">
            <p class="fs-5 w-100">Status:</p>
            <p class="fs-5 w-100 bg-danger rounded  text-center">Processing</p>
        </div>
        <div class="row my-1 w-100">
            <p class="fs-5 w-100">Order Total:</p>
            <p class="fs-5 w-100 bg-secondary rounded text-center">$<%= (@order.order_total + @order.order_tax) %>
            </p>
        </div>
    </div>
</div>
<h3 class="mt-4">Items in this order</h3>
<hr>
<div class="p-2">
    <table class="w-100">
        <thead class="bg-secondary">
            <tr>
                <th>Item</th>
                <th>Price (1 item)</th>
                <th>Quantity</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody class="text-center">
            <% @cart.each do |item| %>
                <tr>
                    <td>
                        <%= link_to @products[item.product_id].first.product_name + " " + format_weight(@products[item.product_id].first.product_weight), product_path(item.product_id) %>
                    </td>
                    <td class="text-center">$<%= @products[item.product_id].first.product_price %></td>
                    <td class="text-center"><%= (item.product_quantity) %></td>
                    <td class="text-center">$<%= (@products[item.product_id].first.product_price) * (item.product_quantity) %></td>
                </tr>
                <% end %>
                <tr>
                    <th>Tax(GST)</th>
                    <td colspan="2"></td>
                    <td>+$<%= @order.order_tax %></td>
                </tr>
    </tbody>
  </table>
</div