<div class="col-sm-6  col-lg-4 my-1">
  <div class="card bg-light text-dark shadow h-100" %>
    <div class="card-body">
        <div class="card-title">
         <div class="row">
          <div class="col-sm-6">
            <%= link_to truncate(product.product_name,length:16), product_path(product.id) ,class:'lead text-decoration-none fs-5' %>
          </div>
         </div>
        </div>
        <div class="card-text">
          <div class="row justify-content-between">
            <p class="col-6 small">Weight</p>
            <p class="col-6 text-end text-uppercase lead">
              <%= format_weight(product) %>
            </p>
          </div>
          <div class="row">
            <p class="col-6 small">Price</p>
            <p class=" lead col-6 text-end text-danger">
              <%= number_to_currency(product.product_price) %>
            </p>
          </div>
            <div class="row justify-content-center p-4">
              <%if user_signed_in?%>
              <%if product_list.present? && product_list[product.id] %>
                <div class="col-sm-2">
                    <%= link_to "-" , remove_product_path(product.id), class: "btn mx-2 btn-outline-danger d-inline-block" ,data:{turbo: true}%>
                  </div>
                <%end%>
                <%if !(product_list.blank?) && product_list[product.id] %>
                <div class="col-sm-8 text-center">
                  <a href="<%=carts_url%>" target="_top">
                    <button type="button" class="btn btn-secondary">
                      On Cart <span class="badge bg-danger">
                        <%=product_list[product.id]%>
                      </span>
                    </button>
                  </a>
                </div>
                 <%end%>
                <div class="col-sm-2">
                  <%= link_to "+" , add_product_path(product.id), class: "btn btn-outline-primary  d-inline-block",data:{turbo: true} %>
                </div>
                <%end%>   
            </div>
        </div>
    </div>
  </div>
</div>