<%= content_for :title, "Shop | Cart" %>

<div class="cart-container" id="cart">
  <% if !(@cart.nil?) %>
  <table class="table  table-hover">
    <thead class="text-center">
      <th class="text-start">Items</th>
      <th>Weight</th>
      <th>Qty</th>
      <th>Rate</th>
      <th>Total</th>
    </thead>

    <tbody>
      <% @cart.carts_products.order(created_at: :asc).each do |item| %>
      <tr id=<%=dom_id(item.product)%>>
        <td class="bg-secondary text-light"><%= item.product.product_name %></td>
        <td class="text-center"><%= format_weight(item.product) %></td>
        <td class="text-center">
          <div class="row justify-content-center">
            <%= button_to "-", remove_product_path(item.product_id), class: "btn btn-outline-dark btn-sm",form:{class:'col-sm-4'},remote: true %>
            <div id=<%=dom_id(item.product,'quantity')%>  class="col-sm-4"> <%= item.product_quantity %></div>
            <%= button_to "+", add_product_path(item.product_id), class: "btn btn-outline-dark btn-sm", form:{class:'col-sm-4'},remote: true %>
          </div>
        </td>
        <td class="text-center"><%=number_to_currency(item.product.product_price) %></td>
        <td class="text-center" id=<%=dom_id(item.product,'total')%>><%= number_to_currency((item.product.product_price) * (item.product_quantity)) %></td>
      </tr>
      <% end %>
       <tr>
        <td></td>
        <td></td>
        <td></td>
        <td class="text-center bg-dark text-light">Total:</td>
        <td class="text-center" id=<%=dom_id(@cart,'eff_total')%>><%=number_to_currency(@cart.cart_total-@cart.tax) %></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td class="text-center  bg-dark text-light">GST:</td>
        <td class="text-center">+ <span id=<%=dom_id(@cart,'tax')%>><%=number_to_currency(@cart.tax) %></span> </td>
      </tr>
      <tr class="bg-light  text-center">
        <th class="text-start">Total to pay</th>
        <td></td>
        <td></td>
        <td></td>
        <td class="text-center" id=<%=dom_id(@cart)%>><%= number_to_currency(@cart.cart_total) %></td>
      </tr>

    </tbody>
  </table>
    <div class="text-center my-4">
     <%= link_to "Place Order", place_order_cart_path(@cart.id), class: "btn btn-outline-dark" %>
     </div>
  <% end %>
</div>
<div class="text-center">
  <%= link_to "Continue shopping", root_path, class: "btn btn-outline-danger" %>
  </div>
