<!DOCTYPE html>
<html>
  <head>
    <title><%=yield :title%></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <header class="my-1">
      <h1><%= link_to "Home", root_path,class:'btn mx-1 fs-4' %></h1>
      <div class="row">
      <div>
      <%= link_to "My Account", account_path,class:'btn mx-1' %>
      </div>
      <div>
      <%= link_to "Cart", cart_path,class:'btn' %>
      </div>
      </div>
    </header>
    <%if flash.count!=0 %>
      <div class="status w-50 text-center my-1 rounded bg-danger">
          <h4><%=flash[:status]%></h4>
      </div>
     <%end%>
    <%= yield %>
  </body>
</html>
