<!DOCTYPE html>
<html>
  <head>
    <title><%=yield :title%></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <header class="my-1">
      <h1><%= link_to "Home", root_path,class:'btn mx-1 fs-4' %></h1>
      <div class="row">
      <%if user_signed_in? %>
      <div>
      <%= link_to "My Account", users_path,class:'btn mx-1' %>
      </div>
      <div>
      <%= button_to "Logout", destroy_user_session_path,class:'btn bg-danger mx-1', method: :delete%>
      </div>
      <%else%>
      <div>
      <%= link_to "Register", new_user_registration_path,class:'btn mx-1' %>
      </div>
      <div>
      <%= link_to "Login", new_user_session_path ,class:'btn mx-1' %>
      </div>
      <%end%>
      <div>
      <%= link_to "Cart", cart_path,class:'btn' %>
      </div>
      </div>
    </header>
    <%if flash[:status] %>
      <div class="status w-50 text-center my-1 p-2  rounded bg-danger">
          <h4><%=flash[:status]%></h4>
      </div>
     <%end%>
       <%if notice %>
      <div class="status w-50 text-center my-1  p-2 rounded bg-danger">
          <h4><%=notice%></h4>
      </div>
     <%end%>
       <%if alert %>
      <div class="status w-50 text-center my-1  p-2 rounded bg-danger">
          <h4><%=alert%></h4>
      </div>
     <%end%>
    <%= yield %>
  </body>
</html>
